.App {
  border: 1px solid seagreen;
  text-align: center;
  margin : 0 auto;
  box-sizing: border-box;
}

.main-container{
  display: flex;
  justify-content: space-around;
}

.stats{
  border: 1px solid blue;
  width: 20%;
  padding: 5%;
  text-align: right;
}

h3 {
  border: 1px solid pink;
  margin: 5px auto;
}

.controlPanel{
  border: 5px solid purple;
  padding: 5%;
  width: 20%;
  display: flex;
  flex-direction: column;
}

button {
  border: 1px solid dodgerblue;
  width: 100%;
  margin: 5%;
  font-size: 20px;
  outline-style: none;
  border-radius: 5px;
}

button:active{
  color: darkblue;
  font-weight: bold;
  background: hotpink;
}